services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - REACT_APP_TWITCH_CLIENT_ID=${REACT_APP_TWITCH_CLIENT_ID}
        - REACT_APP_TWITCH_CLIENT_SECRET=${REACT_APP_TWITCH_CLIENT_SECRET}
    env_file:
      - .env
    ports:
      - "3000:80"
    container_name: twitch-clip-carousel
